:root {
  --main-font-color: #272142;
  --branding-color: #e54346;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--main-font-color);
}
nav {
  padding: 25px;
  font-weight: 700;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 10px;
}
nav a {
  text-decoration: none;
  color: var(--main-font-color);
  transition: all 150ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.thumbnail {
  position: relative;
}
.caption {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  color: white;
}
.caption h1 {
  font-size: 72px;
  font-weight: 700;
}
.caption p {
  font-size: 24px;
  font-weight: 700;
}
.portfolio-img {
  border-radius: 12px;
}
.header {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  margin: 90px 0;
}
.small-header {
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
}
.first-row {
  margin-top: 100px;
}
.gallery-style {
  margin: 40px 0;
}
.gallery-style p {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.gallery-style img {
  opacity: 0.9;
}
.about-decription {
  font-size: 18px;
  margin: 40px 0;
}
.more-about-me-btn {
  background-color: var(--branding-color);
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.more-about-me-btn:hover {
  background-color: #c22f32;
}
.certificate {
  border: 1px dashed #2721423a;
  padding-top: 10px;
  border-radius: 14px;
  margin: 5px;
}
.company {
  font-size: 24px;
  font-weight: 700;
}
.course {
  color: var(--branding-color);
  font-weight: 700;
}
.grade {
  font-size: 30px;
  font-weight: 700;
  line-height: 50%;
}
.date {
  opacity: 0.8;
}
.contact-platform {
  color: var(--branding-color);
  font-weight: 700;
}
.contact {
  font-size: 30px;
  text-decoration: none;
  color: var(--main-font-color);
}
footer {
  padding: 10px;
  margin: 20px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 15px;
  background-color: #272142;
}
footer a {
  color: white;
  transition: all 150ms ease-in-out;
}
footer a:hover {
  color: var(--branding-color);}

@media (max-width: 900px) {
  nav {
    padding: 15px;
    font-size: 10px;
  }
  .caption {
    top: 20%;
    line-height: 0px;
  }
  .caption h1 {
    font-size: 29px;
  }
  .caption p {
    font-size: 12px;
  }
  .header {
    font-size: 29px;
    margin: 35px 0;
  }
  .first-row {
    margin-top: 15px;
  }
  .gallery-style {
    margin: 10px 0;
  }
  .gallery-style p {
    display: none;
  }
  .small-header {
    text-align: center;
    font-size: 29px;
    line-height: 27px;
  }
  .about-decription {
    text-align: center;
    font-size: 14px;
    margin: 30px 0;
  }
  .more-about-me-btn {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
  }
  .grade {
    line-height: 120%;
  }
  .contact-platform {
    font-size: 15px;
  }
  .contact {
    font-size: 20px;
  }
  footer {
    font-size: 15px;
    padding: 15px;
  }
}
